$xtxColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
// 侧边栏变量
$base-menu-width: 160px;
$base-menu-fold-width: 70px;
$base-menu-background: #001529;

// 顶部变量
$base-tabbar-height: 60px;
